@page "/"
@inject IJSRuntime JSRuntime
@using System.Text
@using System.Text.RegularExpressions

<p>
    <h1>Words with letters</h1>
    <br/>
    <form @onsubmit="Find">
        <input autocapitalize="off" autocomplete="off" autocorrect="off" value="@_text" @oninput="OnInput" @ref="_firstInput"/>
        <br/>
        <br/>
        <input type="submit" class="btn btn-primary" @onclick="Find" value="Find Words"/>
    </form>
    <br/>
    <br/>
    <pre>@_results</pre>
</p>

@code {
    ElementReference _firstInput;
    string _results;
    string _text;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("BlazorFocusElement", _firstInput);
        }
    }


    private void OnInput(ChangeEventArgs e)
    {
        _text = e?.Value?.ToString()?.ToUpper();
    }
    
    private async Task Find()
    {
        var text = _text.ToLower();
        await Task.Run(async delegate
        {
            var dictionary = new Dictionary<int, HashSet<string>>();
            
            _results = "thinking...";
            await UpdatePage();

            var count = 0;
            var tooMany = false;
            var re = new Regex($"^[{text}]+$", RegexOptions.Compiled);
            foreach (var word in Program.Words)
            {
                if (re.IsMatch(word))
                {
                    bool found = true;
                    var foundSet = new List<char>(text);
                    foreach (var c in word)
                    {
                        if (foundSet.Contains(c))
                        {
                            foundSet.Remove(c);
                        }
                        else
                        {
                            found = false;
                            break;
                        }
                    }
                    if (found)
                    {
                        count++;
                        var len = word.Length;

                        if (!dictionary.TryGetValue(len, out var wordSet))
                        {
                            wordSet = dictionary[len] = new HashSet<string>();
                        }
                        wordSet.Add(word);
                    }

                    if (count > 5000)
                    {
                        tooMany = true;
                        break;
                    }
                }
            }

            var list =  new StringBuilder();
            foreach (var (len, words) in dictionary.OrderBy(kv => kv.Key))
            {
                list.AppendLine($"{len}-LETTER");
                foreach (var word in words.OrderBy(w => w))
                {
                    list.AppendLine($"  {word.ToUpper()}");
                }
                list.AppendLine();
            }

            if (tooMany) list.AppendLine("--- Too many results ---");
            
            _results = list.ToString();
        });
    }

    private async Task UpdatePage()
    {
        StateHasChanged();
        await Task.Delay(100);
    }

}
